// colors
$blue-900: #0B0D17;
$blue-300: #D0D6F9;
$white: #FFFFFF;

//Typography
$font-family: 'bellefair', sans-serif;

$text-preset-1: (
   font-size: 144px,
   line-height: normal,
   letter-spacing: 0px
);

$text-mobile-preset-1: (
   font-size: 80px,
   line-height: normal,
   letter-spacing: 0px
);

$text-preset-2: (
   font-size: 100px,
   line-height: normal,
   letter-spacing: 0px
);

$text-mobile-preset-2: (
   font-size: 56px,
   line-height: normal,
   letter-spacing: 0px
);

$text-tablet-preset-2: (
   font-size: 80px,
   line-height: normal,
   letter-spacing: 0px
);

$text-preset-3: (
   font-size: 56px,
   line-height: normal,
   letter-spacing: 0px
);

$text-mobile-preset-3: (
   font-size: 24px,
   line-height: normal,
   letter-spacing: 0px
);

$text-tablet-preset-3: (
   font-size: 40px,
   line-height: normal,
   letter-spacing: 0px
);

$text-preset-4: (
   font-size: 32px,
   line-height: normal,
   letter-spacing: 0px
);

$text-mobile-preset-4: (
   font-size: 18px,
   line-height: normal,
   letter-spacing: 0px
);

$text-tablet-preset-4: (
   font-size: 24px,
   line-height: normal,
   letter-spacing: 0px
);

$text-preset-5: (
   font-size: 28px,
   line-height: normal,
   letter-spacing: 4px
);

$text-tablet-preset-5: (
   font-size: 20px,
   line-height: normal,
   letter-spacing: 4px
);

$text-preset-6: (
   font-size: 28px,
   line-height: normal,
   letter-spacing: 0px
);

$text-mobile-preset-6: (
   font-size: 16px,
   line-height: normal,
   letter-spacing: 0px
);

$text-preset-7: (
   font-size: 14px,
   line-height: normal,
   letter-spacing: 2px
);

$text-preset-8: (
   font-size: 16px,
   line-height: normal,
   letter-spacing: 2px
);

$text-mobile-preset-8: (
   font-size: 14px,
   line-height: normal,
   letter-spacing: 2px
);

$text-preset-9: (
   font-size: 18px,
   line-height: 180%,
   letter-spacing: 0px
);

$text-mobile-preset-9: (
   font-size: 15px,
   line-height: 180%,
   letter-spacing: 0px
);

$text-tablet-preset-9: (
   font-size: 16px,
   line-height: 180%,
   letter-spacing: 0px
);

// spacing
$space-1600: 128px;
$space-1200: 96px;
$space-1000: 80px;
$space-800: 64px;
$space-600: 48px;
$space-500: 40px;
$space-400: 32px;
$space-300: 24px;
$space-200: 16px;
$space-150: 12px;
$space-100: 8px;
$space-50: 4px;
$space-25: 2px;

$padding-inline: 15vw;